<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="<%= @options.charset %>">
  <title>File <%= @file.base_name %></title>
  <link href="<%= @stylesheet_url %>" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
  <script src="<%= @rel_prefix %>/scripts/mainFrame.js" type="text/javascript"></script>
</head>
<body>
<div id="header">
  <p class="header-title"><span class="prefix">File</span><span class="name"> <%= @file.base_name %></span></p>
  <p id="file-info">
    <span class="displayed">
      Path: <%= @file.absolute_name %><br>
      Modified: <%= @file.last_modified ? @file.last_modified.strftime('%Y-%m-%d %H:%M:%S') : 'unknown' %>
    </span>
  </p>
</div>
<div id="documentation">
<% if @file.parser == RDoc::Parser::Simple || @file.parser == RDoc::Parser::Markdown %>
  <%= @file.description %>
<% else %>
  <% unless @file.comment.empty? %>
    <% unless @file.description =~ /^\s*<h[1-6]/ %>
      <h2>Description</h2>
    <% end %>
    <%= @file.description %>
  <% end %>
  <div id="file-details" class="list">
  <% unless @file.requires.empty? %>
    <h3>Requires</h3>
    <ul>
    <% @file.requires.each do |r| %>
      <li><%= r.name %></li>
    <% end %>
    </ul>
  <% end %>
  <% unless @file.modules.length + @file.classes.length == 0 %>
    <h3>Classes and Modules</h3>
    <table class="classes-modules">
    <% @file.classes_and_modules.sort.each do |cm| %>
      <tr>
        <td><%= cm.type.capitalize %></td>
        <td><a href="<%= @rel_prefix %>/<%= h cm.path %>"><%= cm.full_name %></a></td>
      </tr>
    <% end %>
    </table>
  <% end %>
  <% if @options.webcvs %>
    <h3>Trac URL</h3>
    <p><a href="<%= @file.cvs_url %>"><%= @file.cvs_url %></a></p>
  <% end %>
  </div>
<% end %>
</div>
</body>
</html>
